.textRight {
    position: absolute;
    right: 180px;
    top: 25px;
    color: lightgray;
}
.textTop {
    position: relative;
    padding-bottom: 50px;
}
.panel {
    background-color: #15151F;
    padding-top: 30px;
}
.textLeft {
    position: absolute;
    left: 180px;
    color: white;
}